если навигация существует		<table border="0" cellspacing="1" cellpadding="1" align="center" width="400">
если навигация существует		<tr align="center"><td><font size="-1">@navigation@
если навигация существует		<br><font color="#00458a"><a href="?guestbook_page=all">показать все сообщения</a>
если навигация существует		<br><a href="?guestbook_page=1">показать первую страницу</a></font>
если навигация существует		</font></td></tr>
если навигация существует		</table>
</td></tr></table>
</body>
</html>