если навигация существует		<table border="0" cellspacing="1" cellpadding="1" align="center" width="400" bgcolor="#faad1e">
если навигация существует		<tr bgcolor="#fce1ae" align="center"><td><font face="verdana" size="1">@navigation@
если навигация существует		<br><a href="?guestbook_page=all">показать все сообщения</a>
если навигация существует		<br><a href="?guestbook_page=1">показать первую страницу</a>
если навигация существует		</font></td></tr>
если навигация существует		</table>
</body>
</html>
@messages@