<script language="javascript" type="text/javascript">
<!--
var ie=document.all?1:0;
var ns=document.getElementById&&!document.all?1:0;

function SmilesTable()
{
	if(ie)
	{
		if(document.all.SmilesTr.style.display=="none")
		{
		document.all.SmilesText.innerText="скрыть смайлики";
		document.all.SmilesTr.style.display='';
		}

		else
		{
		document.all.SmilesText.innerText="показать смайлики";
		document.all.SmilesTr.style.display='none';
		}
	}

	else if(ns)
	{

		if(document.getElementById("SmilesTr").style.display=="none")
		{
		document.getElementById("SmilesText").innerHTML="скрыть смайлики";
		document.getElementById("SmilesTr").style.display='';
		}

		else
		{
		document.getElementById("SmilesText").innerHTML="показать смайлики";
		document.getElementById("SmilesTr").style.display='none';
		}
	}

	else
	alert("Ваш браузер не поддерживается!");
}

function InsertSmile(SmileId)
{
	if(ie)
	{
	document.all.message.focus();
	document.all.message.value+=" :"+SmileId+": ";
	}


	else if(ns)
	{
	document.forms['guestbook'].elements['message'].focus();
	document.forms['guestbook'].elements['message'].value+=" :"+SmileId+": ";
	}

	else
	alert("Ваш браузер не поддерживается!");
}

function InsertName(NameId)
{
	if(ie)
	{
	document.all.message.focus();
	document.all.message.value+=" "+NameId+", ";
	}


	else if(ns)
	{
	document.forms['guestbook'].elements['message'].focus();
	document.forms['guestbook'].elements['message'].value+=" "+NameId+", ";
	}

	else
	alert("Ваш браузер не поддерживается!");
}

// -->
</script>
<table border=0 cellspacing=1 cellpadding=1 align=center width=400 bgcolor=#faad1e>
если ошибка определена <tr bgcolor=#faedca><td align=center><font face=verdana size=1 color=#de0000><b>@error@</b></font></td></tr>
<tr bgcolor=#faedca valign=top><td>
						<table border=0 cellspacing=0 cellpadding=1 align=center width=100%>
						<tr bgcolor=#faedc0><td align=center colspan=2><font face=verdana size=1 color=maroon>Новое сообщение</font></td></tr>
						<form method=post name=guestbook>
						<tr><td width="70" align="right"><font face="verdana" size="1" color="maroon">Ваше имя:</td>	<td align=center><input type=text name=name size=48	class=name onfocus="id=className" onblur="id=''"" style="width: 314px" value="@cookie_name@"></td></tr>
						<tr><td align="right"><font face="verdana" size="1">Сайтик:</td>					<td align=center><input type=text name=homepage size=48	class=name onfocus="id=className" onblur="id=''"" style="width: 314px" value="@cookie_homepage@"></td></tr>
						<tr><td align="right"><font face="verdana" size="1">Почта:</td>					<td align=center><input type=text name=mail size=48	class=name onfocus="id=className" onblur="id=''"" style="width: 314px" value="@cookie_mail@"></td></tr>
						<tr><td align="right"><font face="verdana" size="1">Аська:</td>					<td align=center><input type=text name=icq size=48	class=name onfocus="id=className" onblur="id=''"" style="width: 314px" value="@cookie_icq@"></td></tr>
						<tr><td colspan="2" align="right">
										<table border=0>
										<tr><td align=center><font face=verdana size=1 color=maroon>Сообщение:</font></td></tr>
										<tr><td><textarea name=message rows=5 cols=36 class=name onfocus="id=className" onblur="id=''"" style="width: 314px; height: 90px">@cookie_message@</textarea></td></tr>
										<tr><td align=center>
											<table border=0 cellspacing=0 cellpadding=1 bgcolor=#000000>
											<tr><td><input type=submit value="Добавить сообщение" class=submit style="cursor: hand"></td></tr>
											</table>
										</td></tr>
										</table>
						</td></tr>
						</form>
						</table>
</td></tr>
<tr bgcolor=#faedc0><td align=center><font face=verdana size=1 color=#de0000 style="cursor: hand" onclick=SmilesTable() id=SmilesText>показать смайлики</font></td></tr>
<tr bgcolor=#faedca style="display: none" id=SmilesTr><td align=center><font face=verdana size=1 color=#de0000>@smiles@</font></td></tr>
</table>
<table><tr><td></td></tr></table>
