\\			игнорируема€ строка :)
#!			эта строка игнорируетс€ :)
игнор			эта строка тоже игнорируетс€ :)
игнорировать		эта строка оп€ть же игнорируетс€ :)

			<table border="0" cellspacing="1" cellpadding="3" align="center" width="400" bgcolor="#faad1e">
			<tr bgcolor="#faedc0"><td><i><font face="verdana" size="1" onclick=InsertName('@nameJS@') style="cursor: hand"><b>Ј</b> @name@</font></i></td></tr>
			<tr bgcolor="@bgcolor@"><td><font face="verdana" size="1" color="maroon">
			@message@
			<div align="right">
если сайт определЄн	<a href="http://@homepage@" target="_blank"><img src="images/homepage.gif" border="0" alt="ƒомашн€€ страничка"></a>
если почта определена	<a href="mailto:@mail@"><img src="images/mail.gif" border="0" alt="Ёлектронна€ почта"></a>
если ас€ определена	<img src="images/icq.gif" border="0" alt="јська: @icq@">
			</div>
			<div align="right"><i><font face="verdana" size="1" color="#000000">@0day7@ [F]@0month3@, @0year@ ([F]@0day@, @0hour@:@0minute@)<br>—ообщение є @num@</font></i></div>
			</font></td></tr>
если ответ определЄн	<tr bgcolor="#faedc0"><td>
если ответ определЄн	<i><font face="verdana" size="1"><b>Ј</b> <font color="maroon">@author@</font>: <font color="#000000">@answer@</font></font></i>
если ответ определЄн	</td></tr>
			</table>
			<table border="0"><tr><td></td></tr></table>